@model E_Commerce.PB.Web.Models.CarrinhoViewModel

@if (TempData["Error"] != null)
{
    <div class="alert alert-warning" role="alert">@TempData["Error"]</div>
}

@if (Model != null && Model.CarrinhoDetalhe.Count() > 0)
{
    <form method="post">
        <input asp-for="CarrinhoCabecalho.UserId" hidden />
        <input asp-for="CarrinhoCabecalho.Id" hidden />
        <input asp-for="CarrinhoCabecalho.CuponCode" hidden />
        <input asp-for="CarrinhoCabecalho.ValorDesconto" hidden />
        <input asp-for="CarrinhoCabecalho.ValorCompra" hidden />
        <div>
            <span style="font-size:25px;" class="text-warning">Enter details and place order:</span>
            <br/>
        </div>
        <div class="border mt-2">
            <div class="container row">
                <div class="col-7">
                    <div class="row">
                        <div class="col-12">
                            <label class="col-form-label">First Name:</label>
                            <input asp-for="CarrinhoCabecalho.PrimeiroNome" class="form-control" />
                        </div>
                        <div class="col-12">
                            <label class="col-form-label">Last Name:</label>
                            <input asp-for="CarrinhoCabecalho.Sobrenome" class="form-control" />
                        </div>
                        <div class="col-12">
                            <label class="col-form-label">E-mail:</label>
                            <input asp-for="CarrinhoCabecalho.Email" class="form-control" />
                        </div>
                        <div class="col-12">
                            <label class="col-form-label">Phone Number:</label>
                            <input asp-for="CarrinhoCabecalho.Telefone" class="form-control" />
                        </div>
                        <div class="col-12">
                            <label class="col-form-label">Card Number:</label>
                            <input asp-for="CarrinhoCabecalho.NumeroCarrinho" class="form-control" />
                        </div>
                        <div class="col-12">
                            <label class="col-form-label">CVV:</label>
                            <input asp-for="CarrinhoCabecalho.CVV" class="form-control" />
                        </div>
                        <div class="col-12 pb-4">
                            <label class="col-form-label">Expiry:</label>
                            <input asp-for="CarrinhoCabecalho.ExpiracaoMesAno" placeholder="MMYY" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="card mt-4">
                        <div class="card-body">
                            <div class="d-none d-lg-block">
                                <div class="row text-danger">
                                    <div class="col-6">
                                        produto Details
                                    </div>
                                    <div class="col-3">
                                        Price
                                    </div>
                                    <div class="col-3">
                                        Count
                                    </div>
                                </div>
                            </div>

                            <hr/>

                            @foreach (var item in Model.CarrinhoDetalhe)
                            {
                            <div class="row h-100">
                                <div class="col-6">
                                        <span style="font-size:20px;">@item.Produto.Nome</span>
                                </div>
                                <div class="col-3">
                                    <span style="font-size:17px;">@string.Format("{0:c}", item.Produto.Preco)</span>
                                </div>
                                <div class="col-3">
                                    <span style="font-size:17px;">@item.Contar
                                    </span>
                                </div>

                                
                            </div>
                            <hr/>    
                            }
                            <div class="row">
                                <div class="col-12 text-right pr-4 text-danger">
                                    Purchase Amount: @string.Format("{0:c}", Model.CarrinhoCabecalho.ValorCompra)<br />
                                    @if (Model.CarrinhoCabecalho.ValorDesconto > 0)
                                {
                                    <span class="text-success">
                                            Discount Amount: @string.Format("{0:c}", Model.CarrinhoCabecalho.ValorDesconto)
                                    </span>
                                }
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-12">
                                    <button type="submit" class="btn btn-success form-control">
                                        <span>Place Order</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
}
