@model E_Commerce.PB.Web.Models.CarrinhoViewModel

@if (TempData["Error"] != null)
{
    <div class="alert alert-warning" role="alert">@TempData["Error"]</div>
}

@if (Model != null && Model.CartDetalhe.Count() > 0)
{
    <form method="post">
        <input asp-for="CartCabecalho.UserId" hidden />
        <input asp-for="CartCabecalho.Id" hidden />
        <input asp-for="CartCabecalho.CuponCode" hidden />
        <input asp-for="CartCabecalho.ValorDesconto" hidden />
        <input asp-for="CartCabecalho.ValorCompra" hidden />
        <div>
            <span style="font-size:25px;" class="text-warning">Enter details and place order:</span>
            <br/>
        </div>
        <div class="border mt-2">
            <div class="container row">
                <div class="col-7">
                    <div class="row">
                        <div class="col-12">
                            <label class="col-form-label">First Name:</label>
                            <input asp-for="CartCabecalho.PrimeiroNome" class="form-control" />
                        </div>
                        <div class="col-12">
                            <label class="col-form-label">Last Name:</label>
                            <input asp-for="CartCabecalho.Sobrenome" class="form-control" />
                        </div>
                        <div class="col-12">
                            <label class="col-form-label">E-mail:</label>
                            <input asp-for="CartCabecalho.Email" class="form-control" />
                        </div>
                        <div class="col-12">
                            <label class="col-form-label">Phone Number:</label>
                            <input asp-for="CartCabecalho.Telefone" class="form-control" />
                        </div>
                        <div class="col-12">
                            <label class="col-form-label">Card Number:</label>
                            <input asp-for="CartCabecalho.NumeroCarrinho" class="form-control" />
                        </div>
                        <div class="col-12">
                            <label class="col-form-label">CVV:</label>
                            <input asp-for="CartCabecalho.CVV" class="form-control" />
                        </div>
                        <div class="col-12 pb-4">
                            <label class="col-form-label">Expiry:</label>
                            <input asp-for="CartCabecalho.ExpiracaoMesAno" placeholder="MMYY" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="card mt-4">
                        <div class="card-body">
                            <div class="d-none d-lg-block">
                                <div class="row text-danger">
                                    <div class="col-6">
                                        Product Details
                                    </div>
                                    <div class="col-3">
                                        Price
                                    </div>
                                    <div class="col-3">
                                        Count
                                    </div>
                                </div>
                            </div>

                            <hr/>

                            @foreach (var item in Model.CartDetalhe)
                            {
                            <div class="row h-100">
                                <div class="col-6">
                                        <span style="font-size:20px;">@item.Produto.Name</span>
                                </div>
                                <div class="col-3">
                                    <span style="font-size:17px;">@string.Format("{0:c}", item.Produto.Price)</span>
                                </div>
                                <div class="col-3">
                                    <span style="font-size:17px;">@item.Contar
                                    </span>
                                </div>

                                
                            </div>
                            <hr/>    
                            }
                            <div class="row">
                                <div class="col-12 text-right pr-4 text-danger">
                                    Purchase Amount: @string.Format("{0:c}", Model.CartCabecalho.ValorCompra)<br />
                                    @if (Model.CartCabecalho.ValorDesconto > 0)
                                {
                                    <span class="text-success">
                                            Discount Amount: @string.Format("{0:c}", Model.CartCabecalho.ValorDesconto)
                                    </span>
                                }
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-12">
                                    <button type="submit" class="btn btn-success form-control">
                                        <span>Place Order</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
}
